
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Allure reporting output
/allure-results/
/allure-report/

# IDE / Editor folders
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db